//$background-color: #fceacd;
$background-color: #f7f1d7;
$background-color-section: #9ebc9e;
$primary-color: #005b55;
//$secondary-color: #e5d3f5;
$secondary-color: #cbb1f9; //lila
$accent-color: #471323;
$text-color-light: white;
$text-color-dark: #000000;
