@import "/src/helpers/styles/variables.scss";

.selectBar {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
  background: $background-color-section;
  padding: 1rem 1rem;

  h2 {
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    text-transform: uppercase;
    color: $primary-color;
  }
}
.selectBar__column {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0.6rem;
}

.customForm__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6rem;
  margin-bottom: 0.6rem;

  @media (max-width: 640px) {
    flex-direction: column;
  }

  h3 {
    font-size: clamp(1rem, 2.5vw, 1.1rem);
    text-transform: uppercase;
    color: $primary-color;
  }

  input[type="number"] {
    min-width: 30vw;
    padding: 0.4rem 0.8rem;
    border: 2px solid $primary-color;
    border-radius: 0.7rem;
    outline: none;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    font-family: inherit;
    font-size: 1.2rem;
    color: $background-color;
    background: $primary-color;
    -webkit-box-shadow: 8px 12px 27px 3px rgba(0, 74, 69, 0.41);
    box-shadow: 8px 12px 27px 3px rgba(0, 74, 69, 0.41);
    &:hover {
      background: $background-color;
      color: $primary-color;
    }
    @media (max-width: 640px) {
      min-width: 50vw;
    }
  }
}
.customForm__headline {
  display: flex;
  align-items: center;
}
